@{
    ViewBag.Title = "Home Page";
}

<div class="hero-section wf-section">
    <div class="container">
        <div class="hero-wrapper">
            <h1 class="hero-heading">Serving you <br>since 1989.</h1>
            <p class="hero-paragraph">Backs with Packs is an outdoor and adventure shop located in the Overland Park, Kansas.</p>
            <div class="hero-button-wrapper">
                <a href="@Url.Action("Index","Products")" class="btn light outline w-button">Shop Merch</a>
            </div>
        </div>
    </div>
</div>
<div class="support-section wf-section">
    <div class="container">
        <div class="support-top-wrapper">
            <div class="support-top-left">
                <div class="support-top-details-text">Ways to support</div>
                <h2 class="support-top-heading">Support Backs with Packs.</h2>
            </div>
        </div>
        <div class="support-wrapper">
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">01</div>
                    <div class="support-square-text">SHOP<br>PRODUCTS</div><img src="~/Content/images/Circle.svg" alt="Circle Decoration in Shop Products Block" class="support-square-image">
                </div>
                <p>Our full product line is still available online here on our site! Getting outside and hiking is still something you can do. Get your gear now!</p>
            </div>
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">02</div>
                    <div class="support-square-text">Donate</div><img src="~/Content/images/Triangle.svg" alt="Triangle Decoration in Donate Block" class="support-square-image triangle">
                </div>
                <p>Since we&#x27;ve changed the way we operate to online only, and to ensure your safety, not all our staff is working. Donate to keep them afloat.</p>
            </div>
            <div class="support-column">
                <div class="support-square">
                    <div class="support-square-number">03</div>
                    <div class="support-square-text">Buy <br>GIFT CARDS</div><img src="~/Content/images/Rectangle.svg" alt="Rectangle Decoration in Buy Gift Cards Block" class="support-square-image rectangle">
                </div>
                <p>Have all the outdoor gear you need for now? Buy a gift card and use it later or share it with friends and family. </p>
            </div>
        </div>
    </div>
</div>
<div class="safe-section wf-section">
</div>

<div class="shop-local-section wf-section">
    <div class="container shop-local-container">
        <div class="shop-local-wrapper">
            <div class="shop-local-left"></div>
            <div class="shop-local-right">
                <div class="shop-local-content-wrapper">
                    <h2 class="shop-local-heading">Shop Local.</h2>
                    <p>We know that during COVID-19, a lot of folks around the city and state are feeling uneasy about the future - we’re not sure what the future holds either.</p>
                    <p>That said: we know that we love making sure you have the gear you need for your adventures, and we’re going to keep doing that - with our team - until the city tells us we can’t.</p>
                    <p>But as long as folks like yourself support small businesses around the city, then we’ll be here — every day, making sure your orders arrive on time.</p>
                    <p>-------</p>
                    <div>Caleb Mitchell Esq. III of Covington</div>
                    <div><strong>Backs with Packs</strong></div>
                </div>
            </div>
        </div>
    </div>
</div>