/*Shopping Cart Styling*/

.center-stuff {
    margin: auto;
    margin-left: 10em;
}
@media only screen and (max-width: 750px) {
    .center-stuff {
        margin-left: 0;

    }
}

.card {
    margin: auto;
    box-shadow: #808080 3px 3px;
    width: 33%;
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
}

    /*.card:nth-child(5n) {
        margin-top: 2em;
    }*/

@media only screen and (max-width: 750px) {
    .card {
        margin-right: 0;
        margin: auto;
        float: none;
        margin-top: 2em;
    }
}

.card-text {
    text-align: center;
    margin: auto;
}

.update-quantity {
    text-align: center;
}

.quantity-show {
    margin: auto;
    border-radius: 22%;
}

.smallShop {
    margin-left: .5em;
    margin-right: .5em;
}

.cartImage {
    margin: auto;
    margin-top: 2em;
    max-height: 7.5em;
}

@media only screen and (max-width: 750px) {
    .cartImage {
        max-height: 5em;
    }
}

.card-title {
    text-align: center;
}

.cartText {
    margin: auto;
    text-align: center;
    padding: 1em;
}

.clear {
    clear: both;
}
